@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Department Details</h1>
<div>
    <partial name="PartialViews/DetailesDeleteDepartmentPaertialView" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class=" btn btn-light">back to list</a>

</div>

