@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1> are you sure to Delete this user</h1>
<form asp-action="ConfirmDelete">
    <div asp-validation-summary="All"></div> @*list the whole from error massages*@

    <partial name="PartialViews/DetailesDeleteRolePaertialView">

        <input type="submit" value="delete" class=" btn btn-danger" />

        <a asp-action="Index" class=" btn btn-secondary">cancel</a>

</form>

